@page "/management/integrations/youtube"
@inherits BasePage
@using Churchee.Module.Videos.Features.Commands
@using Churchee.Module.YouTube.Areas.Integrations.Models
@using Churchee.Module.YouTube.Features.YouTube.Commands
@using Churchee.Module.UI.Models
@using Churchee.Module.YouTube.Features.YouTube.Commands.SyncNow
@using Churchee.Module.YouTube.Features.YouTube.Queries
@using Churchee.Module.YouTube.Spotify.Features.YouTube.Commands
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Components.Sections
@using MediatR
@using Churchee.Module.UI.Components
@using Radzen.Blazor
@using Radzen

<PageName Name="YouTube Integration"></PageName>


<div style="max-width: 900px; margin: 40px auto;">

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="16" class="rz-m-5">

    <svg style="width: 100px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path fill="#FF0000" d="M581.7 188.1C575.5 164.4 556.9 145.8 533.4 139.5C490.9 128 320.1 128 320.1 128C320.1 128 149.3 128 106.7 139.5C83.2 145.8 64.7 164.4 58.4 188.1C47 231 47 320.4 47 320.4C47 320.4 47 409.8 58.4 452.7C64.7 476.3 83.2 494.2 106.7 500.5C149.3 512 320.1 512 320.1 512C320.1 512 490.9 512 533.5 500.5C557 494.2 575.5 476.3 581.8 452.7C593.2 409.8 593.2 320.4 593.2 320.4C593.2 320.4 593.2 231 581.8 188.1zM264.2 401.6L264.2 239.2L406.9 320.4L264.2 401.6z" /></svg>

    <RadzenStack>
        <RadzenText TextStyle="TextStyle.H4" Text="YouTube Integration" />
        <RadzenText TextStyle="TextStyle.Body2" Style="color: var(--rz-text-secondary); max-width: 600px;">
            Connect you churches YouTube channel to automatically fetch and display videos on your website.
            Videos can be embedded on pages and kept up to date without manual uploads.
        </RadzenText>
    </RadzenStack>
    @if (youTubeConfigured)
    {
        <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="Active" />
    }
    else
    {
        <RadzenBadge BadgeStyle="BadgeStyle.Base" Text="Inactive" />
    }

</RadzenStack>

    <hr style="color: #eee; margin: 1rem 0" />

    @if (youTubeConfigured)
    {
        <div>

            @if (lastRun != null)
            {
                <b>Last Run: @lastRun.Value.ToString("dd/MM/yyyy HH:mm")</b>
            }

            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center">
                <h1>YouTube Video Sync is set up!</h1>

                <RadzenButton Click=@(args => DisableSync()) Text="Disable Sync" ButtonStyle="ButtonStyle.Danger" Icon="sync_disabled" id="disableSync" />
                <RadzenButton Click=@(args => SyncNow()) Text="Sync Now" ButtonStyle="ButtonStyle.Primary" Icon="sync" id="syncNow" />

            </RadzenStack>

        </div>

    }

    else
    {
        <Form ButtonsOnTop="false" InputModel="@InputModel" OnSave=@(async () => await ValidSubmitForm()) />

    }

</div>


@code{

    bool youTubeConfigured = false;

    DateTime? lastRun = null;

    protected override async Task OnInitializedAsync()
    {
        InputModel = new InputModel();

        var result = await Mediator.Send(new GetYouTubeSettingsRequest());

        lastRun = result.LastRun;

        youTubeConfigured = !string.IsNullOrEmpty(result.Handle);
    }

    private async Task DisableSync()
    {
        var result = await Mediator.Send(new DisableYouTubeSyncCommand());

        if (result.IsSuccess)
        {
            youTubeConfigured = false;

            NotificationService.Notify(NotificationSeverity.Success, "Integration Disabled");

            InputModel = new InputModel();

            StateHasChanged();
        }
    }

    private async Task SyncNow()
    {
        var result = await Mediator.Send(new SyncNowCommand());

        NotificationService.Notify(result, "Sync Scheduled");
    }

    public InputModel InputModel { get; set; } = new();

    private async Task ValidSubmitForm()
    {
        var videoEnabledResult = await Mediator.Send(new VideosEnabledCommand(InputModel.NameForContent));

        if (!videoEnabledResult.IsSuccess)
        {
            NotificationService.Notify(NotificationSeverity.Error, "Failed to enable Videos");
        }

        var enableYouTubeSyncResult = await Mediator.Send(new EnableYouTubeSyncCommand(InputModel.ApiKey, InputModel.ChannelIdentifier));

        if (enableYouTubeSyncResult.IsSuccess)
        {
            NotificationService.Notify(NotificationSeverity.Success, "YouTube sync configured, syncing will being shortly");

            youTubeConfigured = true;

            StateHasChanged();
        }
        else
        {
            NotificationService.Notify(NotificationSeverity.Error, "Failed to shedule sync");
        }
    }
}