@using Churchee.Module.UI.Components
@inherits LayoutComponentBase
<RadzenComponents />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Stretch" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <Logo />
            <Breadcrumb>
                <ErrorBoundary>
                    <ChildContent>
                <SectionOutlet SectionName="top-bar" />
                    </ChildContent>
                    <ErrorContent>
                        ...
                    </ErrorContent>
                </ErrorBoundary>
            </Breadcrumb>
            
        <ProfileMenu></ProfileMenu>
        </RadzenStack>


    </RadzenHeader>
    <RadzenSidebar Responsive="true" @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu ShowArrow="true">
            <AdminNav />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <p class="alert alert-danger" role="alert">
                    Oh, dear! Oh, my! - George Takei
                </p>
            </ErrorContent>
        </ErrorBoundary>
    </RadzenBody>
    <RadzenFooter>
        <SectionOutlet SectionName="footer-bar"/>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;

    [Inject]
    private IHttpContextAccessor _context { get; set; } = default!;
}