@inject IEnumerable<Churchee.Common.Abstractions.Extensibility.IScriptRegistrations> scriptRegistrations

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/_content/Churchee.Module.UI/css/admin.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="Churchee.Presentation.Admin.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="@RenderMode.InteractiveServer" />

    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    @foreach (var registration in scriptRegistrations){
        @foreach (var scriptSrc in registration.Scripts)
        {
            <script src="@scriptSrc"></script>
        }
    }

</body>

</html>
