.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    width: 100%;

    form {
        background: #c5ddec;
        padding: 2rem;
        width: 30rem;
        border-radius: 6px;
        backdrop-filter: blur(3px);
    }
}
