@page "/events"
@inherits BasePage
@using Churchee.Module.Events.Features.Queries
@using MediatR
@using Radzen
@using Microsoft.AspNetCore.Components.Sections
@nullable enable

<PageName Name="Events"></PageName>

@if (events != null && events.Any())
{
    <div>
        @foreach(var itm in events)
        {
            <div>@itm.Title</div>
        }
    </div>
}
else
{
    <div>No events found.</div>
}

@code {
    List<GetListingQueryResponseItem>? events;

    protected override async Task OnInitializedAsync()
    {
        // Provide default paging parameters (skip, take) and empty sort/filter
        var result = await Mediator.Send(new GetListingQuery(0, int.MaxValue, string.Empty, string.Empty));
        events = result?.ToList();
    }
}
