@page "/management/pagetypes"
@using Churchee.Module.Site.Features.PageTypes.Queries
@using Churchee.Module.UI.Components
@using Churchee.Module.UI.Models
@using MediatR
@using Microsoft.AspNetCore.Components.Sections
@using Radzen
@using Radzen.Blazor
@inject IMediator Mediator

<PageName Name="Page Types"></PageName>

<SectionContent SectionName="top-bar">
    <div class="rz-breadcrumb-item">
        <a class="rz-button rz-button-sm rz-success" href="/management/pagetypes/create">Create</a>
    </div> 
</SectionContent>

<Grid TItem="GetPageTypesListingResponse" IsLoading=isLoading Data=employees LoadData="@LoadData" ShowEdit="true"></Grid>

@code {

    int count;

    IEnumerable<GetPageTypesListingResponse> employees;

    bool isLoading = false;

    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;

        string orderBy = "Name";
        string orderByDirection = "asc";

        if (!string.IsNullOrEmpty(args.OrderBy))
        {
            var split = args.OrderBy.Split(" ");
            orderBy = split[0];
            orderByDirection = split[1];

        }

        var result = await Mediator.Send(new GetPageTypesListingQuery(
            skip: args.Skip.Value,
            take: args.Top.Value,
            searchText: args.Filter,
            orderBy: orderBy,
            orderByDirection: orderByDirection,
            draw: args.Top.Value), default);

        // Important!!! Make sure the Count property of RadzenDataGrid is set.
        count = result.RecordsTotal;

        // Perform paging via Skip and Take.
        employees = result.Data;

        isLoading = false;
    }

}

