@page "/management/pagetypes"
@using Churchee.Module.Site.Features.PageTypes.Queries
@using Churchee.Module.UI.Components
@using Churchee.Module.UI.Models
@using MediatR
@using Microsoft.AspNetCore.Components.Sections
@using Radzen
@using Radzen.Blazor

<PageName Name="Page Types"/>

<SectionContent SectionName="top-bar">
    <div class="rz-breadcrumb-item">
        <a class="rz-button rz-button-sm rz-success" href="/management/pagetypes/create">Create</a>
    </div> 
</SectionContent>

<Grid TItem="GetPageTypesListingResponse" IsLoading=isLoading Data=listingData LoadData="@LoadData" ShowEdit="true"></Grid>

@code {

    [Inject]
    private IMediator Mediator { get; set; } = default!;

    IEnumerable<GetPageTypesListingResponse> listingData;

    bool isLoading = false;

    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;

        var result = await Mediator.Send(new GetPageTypesListingQuery(
            skip: args?.Skip ?? 0,
            take: args?.Top ?? 20,
            searchText: args?.Filter ?? string.Empty,
            orderBy: string.IsNullOrEmpty(args?.OrderBy) ? "Name asc" : args?.OrderBy), default);

        listingData = result.Data;

        isLoading = false;
    }

}

