@using Radzen
@using Radzen.Blazor
@inject NavigationManager _navigationManager

<div class="sticky-formButtons">

        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
            <RadzenButton Disabled="FormInvalid" Text="Submit" ButtonStyle="ButtonStyle.Success" ButtonType="ButtonType.Submit" />
            <RadzenButton Text="Cancel" Click="CancelForm" ButtonStyle="ButtonStyle.Danger" ButtonType="ButtonType.Button" />
            @ChildContent
        </RadzenStack>

</div>

@code {

    [Parameter]
    public bool FormInvalid { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

    public void CancelForm()
    {
        var currentUrl = new Uri(_navigationManager.Uri);
        var parentUrl = new Uri(currentUrl, "..").ToString();

        _navigationManager.NavigateTo(parentUrl);
    }

}
