.logo {
    padding: 0 7.3rem 0 0.5rem;
    align-self: center;
    display: flex;
}

    .logo img {
        height: 1.7rem;
        margin-bottom: 0.2rem;
        -webkit-filter: invert(1);
        filter: invert(1);
        min-width: 6rem;
    }
