@page "/management/integrations/churchsuite-events"
@inherits BasePage
@using Churchee.Module.ChurchSuite.Features.Commands.DisableChurchSuiteSync
@using Churchee.Module.ChurchSuite.Features.Commands.EnableChurchSuiteIntegration
@using Churchee.Module.ChurchSuite.Features.Commands.SyncChurchSuiteNow
@using Churchee.Module.ChurchSuite.Features.Queries.ChurchSuiteConfigured
@using Churchee.Module.Events.Features.Commands
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Sections
@using MediatR
@using Churchee.Module.ChurchSuite.Events.Areas.Integrations.Models
@using Churchee.Module.UI.Components
@using Radzen.Blazor
@using Radzen
@using Churchee.Common.Abstractions.Auth
@inject ICurrentUser _currentUser
@inject IHttpContextAccessor _httpContextAccessor

<PageName Name="ChurchSuite Events Integration"></PageName>

<div style="max-width: 900px; margin: 40px auto;">


    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="16" class="rz-m-5">
        
        <svg width="100" height="100" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M256 512C397.385 512 512 397.385 512 256C512 114.615 397.385 0 256 0C114.615 0 0 114.615 0 256C0 397.385 114.615 512 256 512Z" fill="#1F2553" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M297.773 282.397C320.904 283.664 343.906 286.644 366.582 291.311C383.291 295.131 399.754 299.982 416.278 304.712C424.293 307.016 432.124 310.169 440.077 312.837C442.297 313.565 442.79 314.535 442.05 316.779C430.789 351.267 409.635 381.821 381.133 404.764C362.348 420.086 340.836 431.846 317.688 439.449C315.407 440.238 314.544 439.449 313.804 437.63C306.879 420.805 301.313 403.47 297.156 385.785C293.272 367.108 289.449 348.371 286.428 329.513C284.455 317.021 283.9 304.227 282.79 291.614C282.79 289.371 282.79 287.066 282.359 284.823C281.927 282.579 282.975 282.519 284.702 282.579L297.773 282.397Z" fill="#FDFEFF" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M300.732 230.127C295.43 230.127 290.127 230.127 284.825 230.127C282.913 230.127 282.297 229.582 282.358 227.702C283.523 201.063 286.864 174.56 292.347 148.448C295.375 131.891 299.494 115.545 304.678 99.5134C307.515 91.3273 310.844 83.2625 313.557 75.2583C314.297 73.1966 315.53 72.7721 317.565 73.4998C342.722 81.5913 365.938 94.6423 385.794 111.855C405.65 129.069 421.729 150.082 433.048 173.613C436.624 180.829 439.214 188.651 442.112 196.17C442.852 198.05 442.112 198.96 440.385 199.687C419.473 207.412 398.1 213.872 376.385 219.031C351.462 224.779 326.303 228.937 300.732 230.127Z" fill="#FDFEFF" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M229.21 292.888C227.734 316.762 224.582 340.508 219.777 363.955C215.164 386.439 208.984 408.583 201.28 430.232C200.416 432.84 199.306 435.326 198.32 437.873C197.333 440.42 196.902 440.056 195.114 439.449C148.944 424.533 110.053 393.286 85.9809 351.767C79.4544 340.62 74.1824 328.807 70.2583 316.536C69.5801 314.475 70.2583 313.626 72.0464 312.898C95.0833 304.306 118.692 297.276 142.705 291.857C165.043 287.253 187.726 284.454 210.528 283.489L227.114 282.7C229.148 282.7 229.827 283.246 229.642 285.247C229.457 287.248 229.333 290.22 229.21 292.888Z" fill="#FDFEFF" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M228.908 214.968C228.908 219.213 229.34 223.518 229.648 227.823C229.648 229.582 229.155 230.188 227.367 230.127C199.059 229.573 170.865 226.447 143.143 220.789C118.879 215.374 95.0393 208.261 71.8058 199.505C69.8945 198.838 69.8944 197.868 70.4494 196.231C80.4929 165.162 98.649 137.228 123.104 115.219C143.8 96.3195 168.379 82.0099 195.182 73.2572C197.093 72.5902 197.956 73.2572 198.573 74.8338C202.642 86.9614 207.266 99.0889 210.904 111.702C217.631 135.433 222.617 159.609 225.825 184.043C227.243 194.29 228.045 204.659 229.093 214.968H228.908Z" fill="#FDFEFF" />
        </svg>
        
        <RadzenStack>
            <RadzenText TextStyle="TextStyle.H4" Text="ChurchSuite Integration" />
            <RadzenText TextStyle="TextStyle.Body2" Style="color: var(--rz-text-secondary); max-width: 600px;">
                Automatically fetch and display ChurchSuite events on your website.
            </RadzenText>
        </RadzenStack>

        @if (Enabled)
        {
            <RadzenBadge BadgeStyle="BadgeStyle.Success" Text="Active" />
        }
        else
        {
            <RadzenBadge BadgeStyle="BadgeStyle.Base" Text="Inactive" />
        }

    </RadzenStack>

    <hr style="color: #eee; margin: 1rem 0" />


    @if (Enabled)
    {
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center">
            <h1>ChurchSuite Events Sync is set up!</h1>

            <RadzenButton Click=@(args => DisableSync()) Text="Disable Sync" ButtonStyle="ButtonStyle.Danger" Icon="sync_disabled" id="disableSync" />
            <RadzenButton Click=@(args => SyncNow()) Text="Sync Now" ButtonStyle="ButtonStyle.Primary" Icon="sync" id="syncNow" />

        </RadzenStack>
    }
    else
    {
            <Form ButtonsOnTop="false" InputModel="@InputModel" OnSave=@(async () => await ValidSubmitForm()) />
    }

</div>


@code {

    public InputModel InputModel { get; set; } = new();

    public bool Enabled { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        Enabled = await Mediator.Send(new ChurchSuiteConfiguredQuery());
    }

    private async Task ValidSubmitForm()
    {

        var createEventsResult = await Mediator.Send(new ActivateEventsCommand(await _currentUser.GetApplicationTenantId()));

        if (!createEventsResult.IsSuccess)
        {
            return;
        }

        var response = await Mediator.Send(new EnableChurchSuiteIntegrationCommand(InputModel.SubDomain));

        if (response.IsSuccess)
        {
            NotificationService.Notify(NotificationSeverity.Success, "Integration Configured");

            Enabled = true;
        }

        else
        {
            NotificationService.Notify(NotificationSeverity.Error, "Failed to configure integration. Please check the subdomain and try again.");
        }

    }

    private async Task SyncNow()
    {
        var createEventsResult = await Mediator.Send(new ActivateEventsCommand(await _currentUser.GetApplicationTenantId()));

        if (!createEventsResult.IsSuccess)
        {
            return;
        }

        var syncResponse = await Mediator.Send(new SyncChurchSuiteNowCommand());

        if (syncResponse.IsSuccess)
        {
            NotificationService.Notify(NotificationSeverity.Success, "ChurchSuite Sync Queued");
        }
    }


    private async Task DisableSync()
    {
        var result = await Mediator.Send(new DisableChurchSuiteSyncCommand());

        if (result.IsSuccess)
        {
            Enabled = false;

            NotificationService.Notify(NotificationSeverity.Success, "Integration Disabled");

            InputModel = new InputModel();

            StateHasChanged();
        }
        else
        {
            NotificationService.Notify(NotificationSeverity.Error, "Failed to disable Integration");
        }
    }

}