@page "/management/articles"
@inherits BasePage
@using Churchee.Module.Site.Features.Blog.Queries.GetListBlogItems
@using Churchee.Module.Site.Features.Blog.Responses
@using MediatR
@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.Extensions.Logging
@using Radzen.Blazor
@using Radzen
@using Churchee.Module.UI.Components

<PageName></PageName>

<SectionContent SectionName="top-bar">
    <div class="rz-breadcrumb-item">
        <a class="rz-button rz-button-sm rz-success" href="/management/articles/create">Create</a>
    </div>
</SectionContent>

<Grid TItem="GetListBlogItemsResponseItem" IsLoading=isLoading Data=listingData LoadData="@LoadData" ShowEdit="true"></Grid>

@code {

    IEnumerable<GetListBlogItemsResponseItem> listingData;

    bool isLoading = false;

    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;

        var result = await Mediator.Send(new GetListBlogItemsRequest(
            skip: args.Skip.Value,
            take: args.Top.Value,
            searchText: args.Filter,
            orderBy: string.IsNullOrEmpty(args.OrderBy) ? "Title desc" : args.OrderBy), CancellationToken);

        listingData = result.Data;

        isLoading = false;
    }
}