.file-thumb-wrap {
    position: relative;
    text-align: center;
}

.file-thumb-wrap img {
    height: 200px;
}

.file-thumb-wrap span {
    width: 100%;
    position: absolute;
    left: 0;
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
    top: 44%;
}

.file-title {
    display: block;
    text-align: center;
}
