<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/favicon.png" sizes="any">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/_content/Churchee.Module.Identity/css/login.min.css" asp-append-version="true" />

</head>
<body>
    <main role="main" class="pb-3">

        @RenderBody()

    </main>
    <script src="/js/aspnet-validation.min.js"></script>
    <script src="/_content/Churchee.Module.Admin/js/churchee.js"></script>
</body>
</html>



