@page
@model Churchee.Module.Identity.Areas.Account.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "./_LoginLayout";
}

<main role="main" class="pb-3">

    <section class="login-section bg-gradient-primary-to-secondary">
        <form id="account" method="post" autocomplete="off">
            <h1>Log in to: <a href="/"><img class="logo" src="/img/churchee-gradient.svg" alt="churchee logo with a blue gradient" /></a></h1>
            <hr />

            @Html.AntiForgeryToken()

            <div class="field">
                @Html.LabelFor(m => m.Input.Email)
                @Html.EditorFor(m => m.Input.Email)
                @Html.ValidationMessageFor(m => m.Input.Email)
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <button type="submit">Log in</button>
            </div>
            <div>
            </div>
        </form>
    </section>


</main>


