@page
@using Churchee.Module.Identity.Areas.Account.Pages
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Login To Churchee";
    Layout = "./_LoginLayout";
}

<section class="login-section bg-gradient-primary-to-secondary">
    <form method="post" class="wrap">

        <h1><a href="/"><img class="logo" src="/img/churchee-gradient.svg" alt="churchee logo with a blue gradient"></a></h1>
        <hr />
        <h2>Reset your password</h2>

        <div class="field">
            @Html.LabelFor(m => m.Input.Email)
            @Html.EditorFor(m => m.Input.Email)
            @Html.ValidationMessageFor(m => m.Input.Email)
        </div>

        <button type="submit">Reset Password</button>
    </form>
</section>


