@page
@using Churchee.Module.Identity.Areas.Account.Pages
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Login To Churchee";
    Layout = "./_LoginLayout";
}

<section class="login-section bg-gradient-primary-to-secondary">
    <form method="post" class="wrap">
        <a class="logo" href="/"><img src="/img/churchee-gradient.svg" alt="churchee logo with a blue gradient"></a>
        <hr />
        <h1>Reset your password</h1>

        <div class="field">
            @Html.LabelFor(m => m.Input.Email)
            @Html.EditorFor(m => m.Input.Email)
            @Html.ValidationMessageFor(m => m.Input.Email)
        </div>

        <button type="submit">Reset Password</button>
    </form>
</section>


