@page
@using Churchee.Module.Identity.Areas.Account.Pages
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "./_LoginLayout";
}

<section class="login-section bg-gradient-primary-to-secondary">
        <h1 class="white">
            Please check your email to reset your password.
        </h1>
</section>


