@page
@using Churchee.Module.Identity.Areas.Account.Pages
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "./_LoginLayout";
}

<section class="login-section bg-gradient-primary-to-secondary">

    <div class="wrap">
        <h1><a href="/"><img class="logo" src="/img/churchee-gradient.svg" alt="churchee logo with a blue gradient"></a></h1>
        <hr />
        <h2>Success!</h2>

        <div>
            <a href="/account/login" class="btn">Click here to Log in</a>
        </div>
    </div>

</section>