$source-sans-path: 'fonts';

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('/_content/Churchee.Module.UI/fonts/MaterialIcons-Regular.woff') format('woff');
}