
.breadcrumb-wrap {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.breadcrumb {
    display: flex;
    flex-wrap: nowrap;
    padding: $breadcrumb-padding-y $breadcrumb-padding-x;
    margin-bottom: $breadcrumb-margin-bottom;
    @include font-size($breadcrumb-font-size);
    list-style: none;
    background-color: $breadcrumb-bg;
    @include border-radius($breadcrumb-border-radius);
    margin: 0;
    align-items: center;
    color: #ccc;

    li {

        .fa {
            font-size: 0.8em;
            top: -1px;
            position: relative;
        }
        // The separator between breadcrumbs (by default, a forward-slash: "/")
        + li {
            padding-left: $breadcrumb-item-padding-x;
            padding-right: $breadcrumb-item-padding-x;

            &::before {
                float: left; // Suppress inline spacings and underlining of the separator
                padding-right: $breadcrumb-item-padding-x;
                color: #ccc;
                content: var(--#{$variable-prefix}breadcrumb-divider, escape-svg($breadcrumb-divider)) #{"/* rtl:"} var(--#{$variable-prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped)) #{"*/"};
            }
        }

        &.active {
            color: $breadcrumb-active-color;
        }
    }
}
