html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    padding-top: 4rem;
}

article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100%;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.actions {
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

header {
    background: #2a4051;
    display: flex;
    height: 4rem;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    align-items: center;

    .logo {
        font-size: 1.25em;
        font-weight: bold;
        align-self: center;
        padding: 1rem;
        color: #fff;
        min-width: 243px;
        max-width: 243px;
        border-right: 1px solid #555;
    }
}

.search {

    .fa {
        position: absolute;
        padding: 1rem;
    }

    input {
        background: #e1e1e1;
        margin: 0.3rem;
        border-radius: 25px;
        padding: 0.3rem 0.5rem 0.3rem 2rem;
        width: 300px;
        border: 2px solid #d7d7d7;
/*        @include transition(width 0.6s ease);
*/
        &:focus {
            width: 500px;
        }
    }
}


footer {
    background: #333;
    padding: 1rem;
    color: #fff;
}

.breadcrumb {
    padding: 1rem;
    flex-grow: 1;
}

.form-floating {
    margin-bottom: 1rem;
}

/*.input-validation-error {
    border-color: $form-feedback-invalid-color;
}

.field-validation-error {
    color: $form-feedback-invalid-color;
}*/

.pad {
    padding: 1rem;
}

#InputModel_Css {
    height: 70%;
}

form {
    height: 100%;
}

.e-tab {
    height: 100% !important;

    > div, .e-content, .e-item {
        height: 100% !important;
    }

    .code-form .e-richtexteditor {
        height: calc(100% - 76px) !important;
    }
}

.code-form {
    height: 100%;

    .form-floating.mb-3 {
        height: 100%;
        margin-bottom: 0;
    }

    .ide-wrap {
        height: 100%;
    }

    .monaco-editor {
        padding-top: 1rem;
        max-height: 100%;
        overflow: hidden;
    }

    .e-richtexteditor {
        height: calc(100% - 41px) !important;

        .e-rte-content {
            height: 100% !important;
        }

        & + label {
            display: none;
        }
    }
}


.form-floating .e-input-group {

    @extend .form-control;

    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    ~ label {
        opacity: 0.65;
        transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    }
}

img{
    max-width: 100%;
}

.table > thead {
    border-color: #ccc;
    color: #555;
    font-size: 0.8em;
}

.table > :not(:first-child) {
    border-width: 1px;
}

.dataTables_processing{
    //stleys for loader here
}
