table.dataTable {
    margin: 0 !important;
    background: #fff;
}

.dataTables_info {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    z-index: 2;
}
.dataTables_paginate {
    position: fixed;
    bottom: 0;
    padding: 1rem;
    z-index: 2;
    right: 0;
}

.dataTables_footerwrap {
    position: fixed;
    bottom: 0;
    padding: 1rem 1rem 1rem 270px;
    background: #fff;
    height: 4rem;
    width: 100%;
}

div.dataTables_wrapper div.dataTables_filter {
    position: fixed;
    top: 0;
    z-index: 200;
    right: 0;
    padding: 0.5rem;

    label {
        color: #2a4051;
    }

    &::before {
        content: "\f002";
        font-family: "fontawesome";
        position: relative;
        left: 5.5rem;
    }

    input {
        background: #e1e1e1;
        margin: 0.3rem;
        border-radius: 25px;
        padding: 0.3rem 0.5rem 0.3rem 2.5rem;
        width: 300px !important;
        border: 2px solid #d7d7d7;
        @include transition(width 0.6s ease);

        &:focus {
            width: 500px !important;
        }
    }
}


.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 2rem;
    border-radius: 15px;
}