.sideNav {
    min-width: 250px;
    max-width: 250px;
    background: #03444f;
    height: 100%;
    box-shadow: $box-shadow;
    z-index: 4;
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
    overflow: hidden;

    > ul {
        list-style: none;
        padding: 0;
        position: relative;

        li {
            margin-left: 0;
            padding-left: 0;
            display: inline-block;
            width: 100%;

            &:hover {
                ul {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0);
                    @include transition(all 0.5s ease);
                }
            }
        }

        a {
            display: block;
            padding: 1rem 0.5rem;
            color: #8cb6c1;
            text-decoration: none;

            &:hover {
                background: #033740;
                @include transition(all 0.6s ease);
            }
        }

        li ul {
            list-style: none;
            padding: 0;
            width: 100%;
            position: absolute;
            background: #033740;
            z-index: 9;
            left: 3rem;
            top: 0;
            height: 100vh;
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            transform: translateX(100%);
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;

            a:hover {
                background: #023037;
                @include transition(all 0.6s ease);
            }
        }
    }

    .fa {
        margin: 0 10px;
    }
}
