$grid-content-padding: 10px;
$grid-bigger-header-font-size: 16px;
$grid-content-font-size: 15px;
$grid-header-bottom-padding: 10px;
$grid-header-top-padding: 10px;
$grid-header-padding: 10px;
$tbar-default-bg: #e0e9f2;
$grid-header-font-weight: bold;

@import "ej2/base/fabric.scss";
@import "ej2/accordion/fabric.scss";
@import "ej2/drop-down-list/fabric.scss";
@import "ej2/input/fabric.scss";
@import "ej2/popup/fabric.scss";
@import "ej2/spinner/fabric.scss";
@import "ej2/drop-down-base/fabric.scss";
@import "ej2/auto-complete/fabric.scss";
@import "ej2/avatar/fabric.scss";
@import "ej2/badge/fabric.scss";
@import "ej2/barcode/fabric.scss";
//@import "ej2/breadcrumb/fabric.scss";
@import "ej2/button/fabric.scss";
@import "ej2/calendar/fabric.scss";
@import "ej2/card/fabric.scss";
@import "ej2/carousel/fabric.scss";
@import "ej2/check-box/fabric.scss";
@import "ej2/chips/fabric.scss";
@import "ej2/drop-down-button/fabric.scss";
@import "ej2/split-button/fabric.scss";
@import "ej2/numerictextbox/fabric.scss";
@import "ej2/tooltip/fabric.scss";
@import "ej2/slider/fabric.scss";
@import "ej2/color-picker/fabric.scss";
@import "ej2/combo-box/fabric.scss";
@import "ej2/h-scroll/fabric.scss";
@import "ej2/v-scroll/fabric.scss";
@import "ej2/context-menu/fabric.scss";
@import "ej2/dashboard-layout/fabric.scss";
@import "ej2/datepicker/fabric.scss";
@import "ej2/radio-button/fabric.scss";
@import "ej2/switch/fabric.scss";
@import "ej2/list-view/fabric.scss";
@import "ej2/sortable/fabric.scss";
@import "ej2/daterangepicker/fabric.scss";
@import "ej2/datetimepicker/fabric.scss";
@import "ej2/signature/fabric.scss";
@import "ej2/maskedtextbox/fabric.scss";
@import "ej2/textbox/fabric.scss";
@import "ej2/uploader/fabric.scss";
@import "ej2/dialog/fabric.scss";
@import "ej2/pager/fabric.scss";

.e-gridpager {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 250px;
}

.e-pagercontainer {
    padding-top: 6px;
}

@import "ej2/toolbar/fabric.scss";
@import "ej2/tab/fabric.scss";
@import "ej2/treeview/fabric.scss";
@import "ej2/sidebar/fabric.scss";
@import "ej2/menu/fabric.scss";
@import "ej2/diagram/fabric.scss";
@import "ej2/drop-down-tree/fabric.scss";
@import "ej2/multi-select/fabric.scss";
@import "ej2/list-box/fabric.scss";
@import "ej2/document-editor/fabric.scss";
@import "ej2/document-editor-container/fabric.scss";
@import "ej2/splitter/fabric.scss";
@import "ej2/excel-filter/fabric.scss";




@import "ej2/grid/fabric.scss";
@import "ej2/file-manager/fabric.scss";
@import "ej2/treegrid/fabric.scss";
@import "ej2/button-group/fabric.scss";
@import "ej2/progress-button/fabric.scss";
@import "ej2/rich-text-editor/fabric.scss";
@import "ej2/gantt/fabric.scss";
@import "ej2/inplace-editor/fabric.scss";
@import "ej2/kanban/fabric.scss";
@import "ej2/toast/fabric.scss";
@import "ej2/pdfviewer/fabric.scss";
@import "ej2/timepicker/fabric.scss";
@import "ej2/pivotfieldlist/fabric.scss";
@import "ej2/pivotview/fabric.scss";
@import "ej2/query-builder/fabric.scss";
@import "ej2/recurrence-editor/fabric.scss";
@import "ej2/ribbon/fabric.scss";
@import "ej2/schedule/fabric.scss";
@import "ej2/spreadsheet/fabric.scss";