
//----------- Colors
$primary: #286875;
$secondary: #45a6af;
$body-bg: #e0e9f2;
$success: #03c183;
$input-bg: #fff;
$link-decoration: none;
$nav-tabs-border-radius: 0;
$font-size: 16px;

//----------- Bdges

$badge-font-size: 0.7rem !default;
$badge-font-weight: 700 !default;