
//----------- Colors
$input-bg: #fff;
$link-decoration: none;
$nav-tabs-border-radius: 0;
$font-size: 16px;

//----------- Bdges

$badge-font-size: 0.7rem !default;
$badge-font-weight: 700 !default;


$rz-primary: #286875;
$rz-secondary: #45a6af;
$rz-success: #03c183;
$header-background-color: #286875;
$profile-menu-top-item-background-color: #286875;
$layout-body-background-color: #e0e9f2;
