# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore Churchee.sln

    - name: Install SonarScanner
      run: dotnet tool install --global dotnet-sonarscanner

    - name: Install dotnet-coverage
      run: dotnet tool install --global dotnet-coverage

    - name: SonarCloud begin
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
        SONAR_ORGANIZATION: ${{ secrets.SONAR_ORGANIZATION }}
      run: |
        dotnet sonarscanner begin \
          /k:"$SONAR_PROJECT_KEY" \
          /o:"$SONAR_ORGANIZATION" \
          /d:sonar.token="$SONAR_TOKEN" \
          /d:sonar.cs.cobertura.reportsPaths=**/coverage.cobertura.xml

    - name: Download and extract Bootstrap efore main build
      run: dotnet msbuild src/Churchee.Infrastructure.SassCompilation/Churchee.Infrastructure.SassCompilation.csproj -t:DownloadAndExtractBootstrap

    - name: Build
      run: dotnet build Churchee.sln --no-restore

    - name: Test with coverage
      run: |
        dotnet test Churchee.sln \
          --no-build \
          --configuration Release \
          --collect:"XPlat Code Coverage;Format=cobertura"

    - name: SonarCloud end
      run: dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"